.product-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  height: 100%;

  transition: .2s;
  &:hover {
    opacity: .7;
  }
}

img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1.6;
  object-fit: cover;
  border-radius: 5px;
}

.description {
  margin-top: 20px;
  color: var(--text-color-1);
  padding: 5px;
  min-height: 100px;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 5px;

  button {
    margin-left: auto;
  }
}